/*@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #ffffff;
    }

    a {
        color: #bb86fc;
    }
}*/


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

p {
    color: white;
}

input{
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #faf79e;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 50px; /* Espacio entre el input y el botón */
}

.input-container input {
    flex: 1; /* Para que el input ocupe el espacio disponible */
}


.bandera {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    width: 200px;
}

#opciones {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

#opciones button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}